<% disabled_class = ''%>
<% if @data_model.templates.count.zero? %>
  <% disabled_class = 'disabled' %>
  <div class="col-12">
    <div class='alert alert-warning' %>
      This Data model does not have any document templates.
      <% if current_membership.admin? %>
        <%= link_to 'Add document template', [:new, current_office, instance.data_model, :template], remote: true %>
      <% end %>
    </div>
  </div>
<% end %>
<div class="d-flex justify-content-between mb-2 mt-0">
  <h5 class='mb-0 pt-1'>Documents</h5>
  <div>
    <%= link_to [:new, current_office, instance, :document],
      class: "btn btn-info btn-sm #{disabled_class}",
      remote: true do %>
      <i class="fa fa-circle-plus me-1"></i> Generate
    <% end %>
  </div>

</div>


<div class='row px-2'>
  <% documents.each do |document| %>
    <div class="mb-2 px-1 col-md-6">
      <div class='card'>
        <div class="card-body">
          <div class='d-flex justify-content-start'>
            <div>
              <% if document.file.signed_id %>
                <% if document.file.representable? %>
                    <div class='border float-start' width=100%>
                      <%= image_tag document.file.representation(resize_to_limit: [128, 128]) %>
                    </div>
                <% end %>
              <% end %>
            </div>
            <div class='ms-3'>
              <h5 class='mb-0 text-truncate'> <%= document.name.first(20)  %></h5>
              <small class='text-secondary'><%= document.template&.name || 'Deleted'  %> Template</small>
              <div class='text-dark mt-2'>
                <%= document.created_at.strftime('%B %d %Y %r') %>
              </div>
              <div class='mt-2'>
                <% if document.file.present? %>
                  <%= link_to rails_blob_path(document.file, disposition: "attachment"), class: 'no-decoration' do %>
                    <i class="fa fa-download text-success me-1"></i>
                  <% end %>
                <% end %>

                <%= link_to [:destroy_modal, current_office, document], remote: true do %>
                  <i class="fa fa-trash text-danger"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if documents.count.zero? %>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <small class='text-center text-dark'>
            No documents found
          </small>
        </div>
      </div>
    </div>
  <% end %>
</div>
