<div class='card'>
  <div class='card-body'>
    <%= form_for instance, url: url do |f| %>
      <div class='row'>
        <%= fields_for :properties do |fprop| %>
          <% instance.properties.each do |prop| %>
            <div class="col-md-6">
              <div class="mb-3">
                <%= fprop.label prop.code, class: 'form-label' do %>
                  <%= prop.name %>
                  <span class='badge bg-light rounded-pill'><%= prop.code %></span>
                <% end %>
                <% if validated %>
                  <% prop_class = prop.valid? ? 'is-valid' : 'is-invalid' %>
                  <%= fprop.text_field prop.code, class: "form-control #{prop_class}", aria: { describedby: "validation-#{prop.code}" } %>
                  <div id="validation-<%= prop.code %>" class="invalid-feedback">
                    <% prop.errors.each do |error| %>
                      <%= error.full_message %>
                    <% end %>
                  </div>
                <% else %>
                  <%= fprop.text_field prop.code, class: "form-control" %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>

        <div class="col-12">
          <div class="mb-2">
            <%= f.submit class: 'btn btn-success float-end' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

