<% breadcrumb :instances, @data_model %>

<div class="row mb-2">
  <div class="col-6">
    <%= @data_model.name %> Instances
  </div>
  <% if current_membership.admin? %>
    <div class="col-6">
      <%= link_to  [current_office, @data_model], class: 'float-end btn btn-sm btn-success' do %>
        <i class="fa fa-cog me-1"></i> Data Model Settings
      <% end %>
    </div>
  <% end %>
</div>
<div class="card">
  <div class="card-body">
    <div class="row mb-2">
      <div class="col-sm-7">
        <%= link_to new_office_data_model_instance_path(@data_model.id, office_slug: current_office.slug), class: 'btn btn-info btn-sm' do %>
          <i class="fa fa-circle-plus me-1"></i> Add
        <% end %>
      </div>
      <div class="col-sm-5">
        <% search_params = @params.merge({
            office_slug: current_office.slug,
            data_model_id: @data_model.id,
           })
        %>
        <%= form_tag office_data_model_instances_path(search_params), method: :get, class: 'float-end' do %>
          <div class='input-group'>
            <%= search_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search', aria: { label: 'Search instance' } %>
            <%= submit_tag 'Search', class: 'btn btn-sm btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
    <table class='table table-striped table-compact table-borderless'>
      <thead>
        <tr>
          <% @properties.each do |property| %>
            <th><%= property.name %></th>
          <% end %>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @instances.each do |instance| %>
          <tr>
            <% props = instance.hashed_properties %>
            <% @properties.each do |property| %>
              <td><%= props[property.code] %></td>
            <% end %>
            <td>
              <%= link_to [current_office, instance], class: 'me-2' do %>
                <i class="fa-solid fa-eye"></i>
              <% end %>
              <%= link_to [:edit, current_office, instance] do %>
                <i class="fa fa-pen-to-square"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @instances %>
  </div>
</div>
