<%= form_with(model: office, url: url) do |f| %>
  <% if office.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(office.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
        <% office.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, 'Office name', class: 'form-field' %>
    <%= f.text_field :name, class: 'form-control', 'data-slug-target': 'name', 'data-action': 'keyup->slug#updateSlug' %>
  </div>

  <div class="form-group mb-3">
    <%= f.label :slug, 'Office slug', class: 'form-field' %>
    <%= f.text_field :slug, class: 'form-control', 'data-slug-target': 'slug' %>
  </div>

  <div class="form-group mb-3 visually-hidden" data-controller='offices'>
    <%= f.label :thumbnail_color, 'Thumbnail Color (#hex-value)', class: 'form-field' %>
    <%= f.text_field :thumbnail_color, class: 'form-control', 'data-offices-target': 'thumbnailColor' %>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-success' %>
  </div>
<% end %>
