<%= form_with(model: office, url: url) do |f| %>
  <% if office.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(office.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
        <% office.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'form-field' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group mb-3">
    <%= f.label :slug, class: 'form-field' %>
    <%= f.text_field :slug, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-success btn-sm' %>
  </div>
<% end %>
