  <div class='col-12 p-1'>
    <%= link_to 'New Entry', '', class: 'btn btn-primary float-end' %>
  </div>
  <% @instances.each do |instance| %>
    <div class="col-12 p-1">
      <div class="card pt-2 ps-3 pb-2 pe-3">
        <div class='d-flex justify-content-between'>
          <span class=text-dark style='font-size: .8rem;'>
            <b>
              <%= link_to  [current_office, instance], class: 'stretched-link text-success no-decoration' do %>
                <%= instance.data_model.name %> #<%=instance.id %>
              <% end %>
            </b>
            <span>
              @<%= instance.created_by.username %>
            </span>
            <span>·</span>
            <span class='text-dark'>
              <small><%= shorten_relative_time(instance.created_at) %></small>
            </span>
          </span>
          <span class='text-success'>
            <% count = instance.documents.order('documents.position DESC').count %>
            <span class='badge bg-info rounded-pill'>
              <%= pluralize(count, 'document') %>
            </span>
          </span>
        </div>
        <div class='row'>
          <% instance.properties.each do |prop| %>
            <div class='col-6 col-md-12 text-truncate'>
              <span>
                <b class='text-dark'><%= prop.name %>:</b>
              </span>
              <span class=''>
                <%= prop.value %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
