<div class='card'>
  <div class='card-body'>
    <%= form_with model: template, url: url do |f| %>
      <% if template.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(template.errors.count, "error") %> prohibited this template from being saved:</h2>

          <ul>
            <% template.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <%= render "form_fields", f: f %>
        <div class="col-12">
          <div class="mb-2">
            <%= f.submit class: 'btn btn-success float-end' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
