<% breadcrumb :data_models, current_office %>
<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div class="">
          <%= link_to [:new, current_office, :data_model], class: 'btn btn-info' do %>
            <i class="fa fa-circle-plus me-1"></i> Add
          <% end %>
        </div>
        <div class="">
          <% search_params = @params.merge({
              slug: current_office.slug
             })
          %>
          <%= form_tag office_data_models_path(search_params), method: :get, class: 'float-end' do %>
            <div class='input-group'>
              <%= search_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search', aria: { label: 'Search instance' } %>
              <%= submit_tag 'Search', class: 'btn btn-sm btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
      <table class='table table-striped table-borderless table-hover'>
        <thead>
          <tr>
            <th>Model</th>
            <th>Fields</th>
            <th>Templates</th>
          </tr>
        </thead>
        <tbody>
          <% @data_models.all.each do |model| %>
            <tr data-controller='data-models'
                data-data-models-slug-value='<%= current_office.slug %>'
                data-data-models-data-model-id-value='<%= model.id %>'
                data-action='click->data-models#show'>
              <td>
                <%= link_to model.name, [current_office, model] %>
              </td>
              <td>
                <%= model.properties.count %>
              </td>
              <td>
                <%= model.templates.count %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @data_models %>
    </div>
  </div>
</div>
