<tr>
  <td>
    <div>
      <div>
        <%= model_property.name %>
      </div>
      <div>
        <% if model_property.required? %>
          <small class='text-danger'>
            Required
          </small>
        <% else  %>
          <small class='text-success'>
            Optional
          </small>
        <% end %>
      </div>
    </div>
  </td>
  <td>
    <%= model_property.code %>
  </td>
  <td>
    <% if model_property.header_visibility? %>
      <i class="fa fa-check text-success"></i>
    <% end %>
  </td>
  <td>
    <%= model_property.position %>
  </td>
  <td class='pe-2'>
    <%= link_to edit_office_model_property_path(model_property.id, office_slug: current_office.slug), class: 'text-warning no-decoration me-1' do %>
      <i class="fa fa-pen-to-square"></i>
    <% end %>
    <%= link_to [:destroy_modal, current_office, model_property], remote: true, class: 'no-decoration' do %>
      <i class="fa fa-trash text-danger "></i>
    <% end %>
  </td>
</tr>
